# STM32L552ZE Q Nucleo board configuration

# Copyright (c) 2020 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

config BOARD_NUCLEO_L552ZE_Q
	bool "Nucleo L552ZE Q Development Board"
	depends on SOC_STM32L552XX

if BOARD_NUCLEO_L552ZE_Q

DT_COMPAT_NORDIC_NRF700X_QSPI := nordic,nrf700x-qspi
DT_COMPAT_NORDIC_NRF700X_SPI := nordic,nrf700x-spi

config NRF7002_ON_QSPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF700X_QSPI))

config NRF7002_ON_SPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF700X_SPI))

endif # BOARD_NUCLEO_L552ZE_Q