# Copyright (c) 2023 iWorx Systems Inc.
# SPDX-License-Identifier: Apache-2.0

config MEMC_NUVOTON_NUMAKER_HYPERBUS
	bool "Hyperbus for Nuvoton's m46x series microcontrollers"
	default y
    select HAS_NUVOTON_NUMAKER_HYPERBUS
#	depends on DT_HAS_NUVOTON_NUMAKER_HYPERBUS_ENABLED
	help
	  Enable Hyperbus on m46x series Nuvoton microcontrollers
